<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar>
    <span>FidZulu</span>
  </mat-toolbar>
<mat-tab-group>
  <mat-tab label="bikes">
  <app-bike-list></app-bike-list>
  </mat-tab>
  <mat-tab label="food">
  <app-food-list></app-food-list>
  </mat-tab>
  <mat-tab label="books">
  <app-book-list> </app-book-list>
  </mat-tab>
  <!-- <mat-tab label="laptops">
  <app-laptoplist></app-laptoplist>
  </mat-tab>
  <mat-tab label="toys">
  <app-toylist></app-toylist>
  </mat-tab>
  <mat-tab label="dvds">
  <app-dvdlist></app-dvdlist>
  </mat-tab> -->
</mat-tab-group>